.content {
    width: 1280px;
    margin: 0 auto;
    font-family:  'Roboto', sans-serif;  
}

a {
    text-decoration: none; 
}

.logo {
    font-size: 80px;
    font-weight: 400;
    margin: 63px 1048px 0px 0px;  
}

.logo-color1 {
    color: #000000;
}

.logo-color2 {
    color: #4BCAFF;
}

.menu {
    
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    background-color: #35444F;
    margin: 38px 0px 0px 0px;
         
}

.menu-element {
    display: inline-flex;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 26px 30px 19px 30px;
}

.menu-element:hover {
    background-color: #222F3A;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    

}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 48px 0px 0px 0px;
    list-style-type: none;
    
    
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border: 1px solid #000000;
}

.sidebar-element {
    display: block;
    color: #35444F;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    padding: 26px 82px 26px 44px;
    line-height: 27px;
    
}

.sidebar-element:hover {
    background-color: #DBDBDB;
}

.foto {
    display: block;
    justify-content: flex-end;
    border: 1px solid #000000;    
    padding: 75px 268px 73px 297px;

}

p {
    width: 887px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap-reverse; 
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;    

}

.text-1 {
    margin: 34px 0px 17px;
}

.text-2 {
    margin: 17px 0px 27px;
}

/* footer menu */

.footer-content {
    display: flex;
    justify-content: space-around;
    background: rgba(99, 105, 110, 0.48);
    margin: 27px 0px 30px;

}

.footer-menu {
    display: flex;
    justify-content: space-around;
    flex-basis: 75%;
    list-style-type: none;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0px;
    
}

.footer-element {

    color: #0C1927;
}

.date {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

.date a {
    color:  #010101;
    ;
}

.footer-element:hover {
    color: #3181A6;
    text-decoration: underline;
}